[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
matplotlib = "*"
scipy = "==1.2.0"
pillow = "*"
sklearn = "*"
tf-coreml = {git = "https://github.com/akinoriosamura/tf-coreml.git"}

[requires]
python_version = "3.6"
